# compiled
*.o
*.a
*.so
darknet

# model
darknet53.conv.74

# output
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
.fuse*

# folder
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

